<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
<nav>
  <img id="nav-logo" src="https://i.imgur.com/amdZnkn.png">
   <p id="slogan">support for developers, home to forward-thinkers!</p>
   <% if (user) { %>
    <a href="/posts" <%- title === 'Kommunity' ? 'class="active"' : '' %>>devFeed</a>
      <a href="/posts/new" <%- title === 'Add Post' ? 'class="active"' : '' %>>Make a Post!</a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  