<%- include('./partials/header') %>

<body>
    <div>
        <h2 id="homepage">devsKlub</h2>
        <img id="logo-img" src="https://i.imgur.com/pJs84sh.png">
        <p id="home-welcome">Welcome to devsKlub! A platform designed to establish community and support for current developers and developers in the making. Connect with other engineers, share your story, & let's problem solve together!</p>
    </div>
</body>

<%- include('./partials/footer') %>
