* {
  box-sizing: border-box;
  font-family: Train One;
  color: #f48c00;
  background-color: #232323;
}

#devFeed {
  font-size: 80px;
  margin-top: -200px;
  color: #f48c00;
  font-style: italic;
  text-align: center;
}

#devFeed2 {
  font-size: 20px;
  color:#4c7a34;
  text-align: center;
  margin-top: -5%;
}

#devFeedpic {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 20%;
}


body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

#nav-logo {
  display: flex;
  align-items: center;
  width: 5%;
  background-color: #f48c00;
}

body > nav {
  grid-area: nav;
  background-color: #f48c00;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

#slogan {
  width: 600px;
  background-color: #f48c00;
  color: #232323;
  margin-right: auto;
  font-family: Train One;
  font-weight: 900;
  font-size: 20px;
  font-style: italic;
}

#homepage {
  box-sizing: border-box;
  font-family: Train One;
  color: #4c7a34;
  font-size: 150px;
  text-align: center;
  font-style: italic;
  margin-top: 100px;

}

#home-welcome {
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-bottom: 500px ;
  margin-top: -100px;
}

#logo-img {
  display: block;
  height: 500px; 
  margin-left: auto;
  margin-right: auto; 
  margin-top: -200px;
  margin-bottom: -10px;

  
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eceb;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;

}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color:#232323;
  background-color:#4c7a34;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
 display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 300px;
}

#new-form *,
#add-comment-form * {
  font-size: 20px;
  border-radius: 5px;
  color: #4c7a34;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  color: #4c7a34;
  
}

table {
  font-size: 17px;
  max-width: 70%;
  position: center;

}

table thead th {
  color: #4c7a34;
  text-decoration: underline;
  text-decoration-color:#f48c00;
  font-size: 27px;
  font-style: italic;
  text-align: center;
}

table td {
  padding: 70px;
  position: center;
  
}


tbody td {
  /* border-bottom: 2px solid #4c7a34; */
  width: 100%;
  /* margin-top: 70px; */
  /* margin-bottom: -300px; */
  /* margin-right: 150px; */
}


#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}


#list {
  margin-left: auto;
  margin-right: auto;
  column-gap: -1000px;
}

#list a {
  /* margin-top: 70px;
  margin-bottom: -30px;
  margin-right: 150px; */
  width: 60px;
  border-radius: 4px;
  background-color:#4c7a34;
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
  color: #232323;
  float: left;
  
}

#list a:hover {
  background-color: white;
}

#show-page {
  grid-gap: 1rem;
  /* margin: 0 auto; */
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  font-style: italic;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-comment-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: -100px;
}

#add-comment-form input[type="submit"] {
  width: 15rem;
  grid-column: 2 / 3;
  font-style: italic;
}

#commentPrompt {
  color:#4c7a34
}

hr {
  color: #424748;
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 20%;
  border: 2px solid #b8c0c2;
  border-radius: 0.5rem;
  margin: 0.5rem 0 2rem;
}

.badge {
  background-color: #b8c0c2;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}

#show-page li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* .review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px; */
/* } */

input {
  height: 30px;
  margin: 0;
  padding: 0;
}

.comment-user,
.comment-content,
.edit-comment-button,
.edit-comment-form {
  width: 50%; 
  margin: 10px;
  box-sizing: border-box; 
}

.edit-comment-button {
  background-color: #4c7a34;
  color: #232323;
  width: 60px;
  font-weight: 1000;
  border-radius: 6px;
}

#udc {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-left: 600px;
}

.comment-user,
.comment-content,
.edit-comment-button,
.edit-comment-form, 
.delete-comment-button {
  flex-grow: 1;
  row-gap: -30rem;

}

.comment-avatar img {
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  object-fit: cover;
}

