<%- include('../partials/header') %>

<form id="new-form" action="/posts" method="POST">
  <label>devName:</label>
  <input type="text" name="title">
  <label>Share What's on Your Mind?</label>
  <input type="text" name="content">
  <button type="submit">Submit!</button>
</form>

<%- include('../partials/footer') %>





